

.block{
    width: 50px;
    height: 50px;
    background-color: rgb(194, 187, 203);
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 4px 4px;
     grid-template-areas: 
     "block1 block2 block3 block4"
     "block5 block6 block7 block8"
     "block9 block10 block11 block12"
     "block13 block14 block15 block16"
     "block17 block18 block19 block20"
     "block21 block22 block23 block24";
}

.block1{
    grid-area: block1;
}
.block2{
    grid-area: block2;
}
.block3{
    grid-area: block3;
}
.block4{
    grid-area: block4;
}
.block5{
    grid-area: block5;
}
.block6{
    grid-area: block6;
}
.block7{
    grid-area: block7;
}
.block8{
    grid-area: block8;
}
.block9{
    grid-area: block9;
}
.block10{
    grid-area: block10;
}
.block11{
    grid-area: block11;
}
.block12{
    grid-area: block12;
}
.block13{
    grid-area: block13;
}
.block14{
    grid-area: block14;
}
.block15{
    grid-area: block15;
}
.block16{
    grid-area: block16;
}
.block17{
    grid-area: block17;
}
.block18{
    grid-area: block18;
}
.block19{
    grid-area: block19;
}
.block20{
    grid-area: block20;
}
.block21{
    grid-area: block21;
}
.block22{
    grid-area: block22;
}
.block23{
    grid-area: block23;
}
.block24{
    grid-area: block24;
}

.grid div:nth-child(21){
    background-color: rgb(65, 119, 235);
}

.grid div:nth-child(22){
    background-color: rgb(65, 119, 235);
}

.grid div:nth-child(23){
    background-color: rgb(65, 119, 235);
}

.grid div:nth-child(24){
    background-color: rgb(65, 119, 235);
}

.grid div:nth-child(4n-1){
    background-color: rgb(255, 98, 98);
}

.create{
    width: 494px;
    height: 92px;
    border: none;
    border-radius: 100px;
    background-color: #44D3A8;
    color: white;
    font-size: 24px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button{
    margin-top: 50px;
    display: flex;
    top: 130px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.button::before{
    width: 210px;
    height: 6px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    content: "";
}

.button::after{
    width: 210px;
    height: 6px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    content: "";
}

.create:hover{
    background-color: #17a87d;
}

